footer {
    background-color: #2e3b74;
    width: 100%;
    height: 30vh;
    left: 0; bottom: 0;
    font-family: Helvetica,Arial,sans-serif;
   }

.fotterObjOne {
    font-size: 2.6vh;
    padding-top: 3vh;
    padding-left: 15vh;
    
    color: #C0C0C0;
    word-spacing: 30vh;
}

.fotterInfo {
    font-size: 2.2vh;
    padding-top: 1vh;
    padding-left: 15vh;
    color: white;
}
.fotterLi {
    list-style-type: none;
    margin-bottom: 2vh;
}

.fotterSpisok {
    margin-left: 0;
    padding-left: 0vh;
    float: left;
    padding-right: 14vh;
}

.fotterLink {
    color: white;
    text-decoration:none;
    
  }

.fotterLink:hover {
    color: gray;}

.fotterPoloska {
    height: 20vh;
    width: 1px;
    background-color: #C0C0C0;
    position: absolute;
    margin-left: 160vh;
    margin-bottom: 50vh ;
}

.fotterText {
    display: flex;
}

.fotterPhone {
    padding-top: 3vh;
    padding-left: 77vh;
    color: #C0C0C0;
    font-size: 2.6vh;
}

/* .fotterPodvalNiz {
    width: 100%;
    height: 5vh;
    background-color: #C0C0C0;
} Нижняя полоска */