*{
    margin: 0;
    padding: 0;
    
}
html {
    font-family: Helvetica,Arial,sans-serif;
  }
.main{
    width: 100%;
    display: flex;
    background-color: rgb(243, 243, 243); 
  }
.left{
  width: 50%;
}
.right{
  width: 50%;
}
.h1Left{
  text-align: center;
}
.h1rigth{
  text-align: center;
}
.dataleft{
  margin-top: 10vh;
  width: 60vh;
  height: 8vh;
  border-radius: 1vh;
  border-color: #89a3d8;
  border-width: 0.5vh;
  border-style: solid;
  margin-left: auto;
  background-color: white;
  margin-right: auto;
  text-align: center;
}
.dataright{
  margin-top: 10vh;
  width: 60vh;
  height: 8vh;
  border-radius: 1vh;
  border-color: #89a3d8;
  border-width: 0.5vh;
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  text-align: center;
}
.goover {
  color: black;
  text-align: center;
  
}