*{
    margin: 0;
    padding: 0;
    
}
a{ 
    text-decoration: none; 
    color: white;
} 
html {
    background-color: rgb(243, 243, 243);
    font-family: Helvetica,Arial,sans-serif;
}
.main{
    width: 100%;
    background-color: rgb(243, 243, 243);
}
.newsMainDiv{
    width: 160vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}
.newsObj{
    width: 160vh;
    height: 50vh;
    /* border-radius: 1.6vh; */
    border-color: #89a3d8;
    border-style: solid;
    border-width: 0.3vh;
    margin-top: 4vh;
    background-color: white;
    
}
.newsZag{
    font-size: 3vh;
    margin-left: 1vh;
    margin-top: 1vh;
}
.newsTxT{
    font-size: 2.2vh;
    margin-left: 1vh;
    margin-top: 1vh;
}
.SingIn{
    text-align: end;
    margin-right: 10vh;
    font-size: 2.5vh;
    color: white;
    margin-top: -3.3vh;
}
.buttonNewNews{
    width: 40vh;
    height: 2.7vh;
    background-color: #6c9acf;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    border-radius: 2vh;
    text-align: center;
    font-weight:700;
    border: none;
    padding:2.2vh ;
    font-size: 2.6vh;
}