* {
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    /* background-color: blue; */
    height: 50vh;
}

.loginPol {
    margin-left: 50vh;
    margin-bottom: 5vh;
    font-size: 3vh;
}

.emailPol {
    margin-left: 50vh;
    font-size: 3vh;
}
.buttomExit button {
    border-radius:1.7vh;
    padding:1vh 2.6vh;
    font-size:2vh;
    font-weight:bold;
    background-color:#3f93ff;
    border:none;
    color:white;
    margin-top:10vh;
    text-align: center;
    width: 12vh;
    margin-left: 90vh;
    }