*{
    margin: 0;
    padding: 0;
}

.newsMainDiv{
    width: 80vh;
    height: 100vh;
    margin-left: 52vh;
}
.newsObj{
    width: 60vh;
    height: 30vh;
    margin-left: 10vh;
    border-radius: 3vh;
    border-color: #8DA6FF;
    border-style: solid;
    border-width: 0.3vh;
    margin-top: 5vh;
}
.newsZag{
    font-size: 3vh;
    margin-left: 1vh;
    margin-top: 1vh;
}
.newsTxT{
    font-size: 2.2vh;
    margin-left: 1vh;
    margin-top: 1vh;
}