*{
    margin: 0;
    padding: 0;
}
.navShapka{
    width: 100%;
    height: 10vh;
}
.Shapka{
    width: 100%;
    height: 5vh;
    background-color: blue;
    color: white;
}
.ShapkaTxT{
    margin-left: 61vh;
    padding-top: 0.5vh;
    font-size: 35px;
}
.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navObj{
    background-color: blue;
    height: 4.5vh;
    font-size: 2vh;
    padding-top: 2vh;
    padding-left: 4vh;
    color: white;
}
.navObj1{
    border-bottom-left-radius: 2vh;
    width: 15vh;
}
.navObj2{
    width: 15vh;
}
.navObj3{
    width: 10vh;
}
.navObj4{
    border-bottom-right-radius: 2vh;
    width: 15vh;
}

.newsMainDiv{
    width: 80vh;
    height: 100vh;
    margin-left: 52vh;
}
.newsObj{
    width: 60vh;
    height: 30vh;
    margin-left: 10vh;
    border-radius: 3vh;
    border-color: #8DA6FF;
    border-style: solid;
    border-width: 0.3vh;
    margin-top: 5vh;
}
.newsZag{
    font-size: 3vh;
    margin-left: 1vh;
    margin-top: 1vh;
}
.newsTxT{
    font-size: 2.2vh;
    margin-left: 1vh;
    margin-top: 1vh;
}